body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* margin-top: 100px; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.form-control {
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #999999;
  border-radius: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #333333;
  display: block;
  font-size: 14px;
  height: 34px;
  line-height: 1.42857;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
}

.login-box {
  box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.52);
  width: 360px;
  margin: 3% auto;
  padding: 20px;
  text-align: center;
}

.register-box {
  box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.52);
  width: 960px;
  margin: 7% auto;
  
}

.welcome{
  padding:45px;
  color: white;
  font-size: 1.1em;
  text-align: center;
}

.coupon {
  border-left: 10px solid #34eb83;
  width:70%;
 
}

.card-header{
  padding-bottom:3px;
  background-color: white;
}

.info{
  padding:5px;
}

.more-icon {
  display: block;
  float:right;
  padding: 0;
  margin:0;
}

.batch-text {
 
}

.logo_appbar{
  text-decoration: none;
  color: white;  
}

.logo_appbar:hover{
  text-decoration: none;
  letter-spacing: 0.5px;
  color: transparent;
  -webkit-text-stroke: 2px white;
}

.template_card{
  max-width: 345;
  margin:10px 10%;
}

.card_content {
  margin-top:0px;
  padding:3px 25px;
}

.batch_card{
  max-width: 345;
  margin:10px 10%;
}

.status_active{
  color: green;
}

.status_inactive {
  color: red;
}

.section_title{
  text-align: center;
}

.register{
  padding:45px;
  margin-bottom: 20px;
}

.login-box2{
  font-weight: bold;  
  margin-top:110px;
}

.btn {
  font-weight: bold;
}

.form-btns{
  padding-top: 20px;
}

.login-page, .register-page {
  background: #d2d6de;
}

.login-logo, .register-logo {
  font-size: 35px;
  text-align: center;
  margin-bottom: 25px;
  font-weight: 300;
}.login-box-msg, .register-box-msg {
  margin: 0;
  text-align: center;
  padding: 0 20px 20px 20px;
}.login-box-body, .register-box-body {
  background: #fff;
  padding: 20px;
  border-top: 0;
  color: #666;
}.has-feedback {
  position: relative;
}
.form-group {
  margin-bottom: 15px;
}.has-feedback .form-control {
  padding-right: 42.5px;
}.login-box-body .form-control-feedback, .register-box-body .form-control-feedback {
  color: #777;
}
.form-control-feedback {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  pointer-events: none;
}.checkbox, .radio {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}.icheck>label {
  padding-left: 0;
}
.checkbox label, .radio label {
  min-height: 20px;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: 400;
  cursor: pointer;
}